/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 12px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei";
}

#nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  background: transparent;
  display: flex;
}
#nav-bar .nav-title {
  -webkit-flex: 1 1 250px;
  flex: 1 1 250px;
  padding: 15px 10px;
  text-align: center;
}
#nav-bar .hamburger {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  right: 5px;
  top: 11px;
  cursor: pointer;
  display: none;
}
#nav-bar .hamburger span {
  display: block;
  width: 80%;
  height: 3px;
  background: #fff;
  border-radius: 9px;
  position: absolute;
}
#nav-bar .hamburger span:nth-child(1) {
  top: 5px;
}
#nav-bar .hamburger span:nth-child(2), #nav-bar .hamburger span:nth-child(3) {
  top: 15px;
}
#nav-bar .hamburger span:nth-child(4) {
  top: 25px;
}
#nav-bar .hamburger.open span:nth-child(1), #nav-bar .hamburger.open span:nth-child(4) {
  opacity: 0;
}
#nav-bar .hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}
#nav-bar .hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#nav-bar .hamburger.open + .nav-menu {
  display: flex;
}
#nav-bar .dropdown-bg {
  position: absolute;
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  background: #f7f7f7;
  transition: all 0.5s;
  opacity: 0;
  top: 15px;
}
#nav-bar .dropdown-bg .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  display: block;
  background: #f7f7f7;
  transform: translateY(-50%) rotate(45deg);
}
#nav-bar .dropdown-bg.open {
  opacity: 1;
}
#nav-bar .nav-menu {
  -webkit-flex: 10 5 400px;
  flex: 10 5 400px;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-align-items: center;
  align-items: center;
}
#nav-bar .nav-menu li {
  -webkit-flex: 3;
  flex: 3;
}
#nav-bar .nav-menu li:hover {
  color: #fff;
  background: #f76b50;
}
#nav-bar .nav-menu .social {
  -webkit-flex: 1;
  flex: 1;
}
#nav-bar .nav-menu li > a {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
#nav-bar .nav-menu .dropdown {
  position: absolute;
  overflow: hidden;
  padding: 25px 10px 10px 10px;
  opacity: 0;
  display: none;
  margin-top: -15px;
}
#nav-bar .nav-menu .dropdown div {
  padding: 5px;
  text-align: center;
}
#nav-bar .nav-menu .dropdown a {
  color: #f76b50;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 8px 0;
  width: 100%;
  display: block;
  border-bottom: 1px dashed #f76b50;
}
#nav-bar .nav-menu .trigger-enter .dropdown {
  display: block;
}
#nav-bar .nav-menu .trigger-enter-active .dropdown {
  opacity: 1;
}
#nav-bar:hover {
  background: rgba(0, 0, 0, 0.6);
}

#slide {
  position: relative;
}
#slide .mySlides {
  width: 100%;
  height: 100vh;
  background-image: url(../img/img2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#slide .mySlides .block {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  top: calc(50% - 230px + 54px);
  left: calc(50% - 350px);
  text-align: center;
  padding: 30px 50px;
  letter-spacing: 5px;
  line-height: 2rem;
  border-radius: 10px;
}
#slide .mySlides .block .title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 15px;
}
#slide .mySlides .block p {
  font-size: 1.2rem;
  max-width: 600px;
  overflow: hidden;
  text-align: center;
}
#slide .mySlides .text {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  padding: 8px 5px;
  position: absolute;
  bottom: 2rem;
  margin-left: 1rem;
}
#slide .prev, #slide .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  font-size: 3rem;
  font-weight: bold;
  padding: 1.5rem;
  color: #fff;
}
#slide .prev:hover, #slide .next:hover {
  color: #555;
}
#slide .next {
  right: 0;
}
#slide .dot-block {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  text-align: center;
}
#slide .dot {
  cursor: pointer;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
#slide .active, #slide .dot:hover {
  background-color: #555;
}
#slide .fade {
  -moz-animation-name: fade;
  -webkit-animation-name: fade;
  animation-name: fade;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-moz-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
#container {
  display: flex;
  height: 600px;
  background: #ccc;
}

#article-area {
  padding-top: 100px;
}
#article-area #article-box {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#article-area #article-box .article {
  height: 400px;
  flex: 1 0 40%;
  margin: 40px 30px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  opacity: 1;
  transition: all 0.3s;
}
#article-area #article-box .article:hover {
  opacity: 0.8;
  transform: scale(1.2, 1.2);
}
#article-area #article-box .article:hover > .article-head {
  background: rgba(0, 0, 0, 0.8);
}
#article-area #article-box .article:nth-child(-n+1) {
  flex: 1 0 80%;
}
#article-area #article-box .article .article-head {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#article-area #article-box .article .article-head .publish {
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  flex: 1 1 100%;
}
#article-area #article-box .article .article-head .publish .month {
  padding-right: 5px;
}
#article-area #article-box .article .article-head .publish .date {
  font-size: 25px;
  font-weight: bold;
}
#article-area #article-box .article .article-head .publish .day {
  display: none;
}
#article-area #article-box .article .article-head .publish .year {
  padding-left: 5px;
}
#article-area #article-box .article .article-head .publish .time {
  display: none;
}
#article-area #article-box .article .article-head .title h2 > a {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  text-decoration: none;
}
#article-area #article-box .article .article-body {
  position: absolute;
}
#article-area #article-box .article .article-body .more a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
}
#article-area #article-box .article .article-body img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  #nav-bar {
    flex-wrap: wrap;
  }
  #nav-bar .nav-menu {
    display: none;
    flex-wrap: wrap;
  }
  #nav-bar .nav-menu li {
    flex: 1 1 100%;
  }
  #nav-bar .nav-menu a {
    flex: 1 1 25%;
  }
  #nav-bar .hamburger {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #nav-bar .nav-title {
    font-size: 1.5rem;
  }
  #nav-bar .nav-menu li {
    flex-basis: 100%;
  }
  #nav-bar .nav-menu a {
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 10px 5px;
  }

  #slide .mySlides .text {
    font-size: 1rem;
  }
}
