/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 12px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei";
}

#nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  background: transparent;
  display: flex;
}
#nav-bar .nav-title {
  -webkit-flex: 1 1 250px;
  flex: 1 1 250px;
  font-size: 2rem;
  padding: 15px 10px;
  text-align: center;
}
#nav-bar .hamburger {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  right: 5px;
  top: 8px;
  cursor: pointer;
  display: none;
}
#nav-bar .hamburger span {
  display: block;
  width: 80%;
  height: 3px;
  background: #fff;
  border-radius: 9px;
  position: absolute;
}
#nav-bar .hamburger span:nth-child(1) {
  top: 5px;
}
#nav-bar .hamburger span:nth-child(2), #nav-bar .hamburger span:nth-child(3) {
  top: 15px;
}
#nav-bar .hamburger span:nth-child(4) {
  top: 25px;
}
#nav-bar .hamburger.open span:nth-child(1), #nav-bar .hamburger.open span:nth-child(4) {
  opacity: 0;
}
#nav-bar .hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}
#nav-bar .hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#nav-bar .hamburger.open + .nav-menu {
  display: flex;
}
#nav-bar .nav-menu {
  -webkit-flex: 10 5 400px;
  flex: 10 5 400px;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-align-items: center;
  align-items: center;
}
#nav-bar .nav-menu li {
  -webkit-flex: 3;
  flex: 3;
}
#nav-bar .nav-menu .social {
  -webkit-flex: 1;
  flex: 1;
}
#nav-bar .nav-menu a {
  color: #fff;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
#nav-bar .nav-menu a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
#nav-bar:hover {
  color: #555;
  background: rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 1px 0 5px #555;
  -webkit-box-shadow: 1px 0 5px #555;
  box-shadow: 1px 0 5px #555;
}
#nav-bar:hover a {
  color: #555;
}
#nav-bar:hover .hamburger span {
  background: #555;
}

#slide {
  position: relative;
}
#slide .mySlides {
  display: none;
}
#slide .mySlides img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#slide .mySlides .text {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 8px 5px;
  position: absolute;
  bottom: 2rem;
  margin-left: 1rem;
}
#slide .prev, #slide .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  font-size: 3rem;
  font-weight: bold;
  padding: 1.5rem;
  color: #fff;
}
#slide .prev:hover, #slide .next:hover {
  color: #555;
}
#slide .next {
  right: 0;
}
#slide .dot-block {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  text-align: center;
}
#slide .dot {
  cursor: pointer;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
#slide .active, #slide .dot:hover {
  background-color: #555;
}
#slide .fade {
  -moz-animation-name: fade;
  -webkit-animation-name: fade;
  animation-name: fade;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-moz-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  #nav-bar {
    flex-wrap: wrap;
  }
  #nav-bar .nav-menu {
    display: none;
    flex-wrap: wrap;
  }
  #nav-bar .nav-menu li {
    flex: 1 1 100%;
  }
  #nav-bar .nav-menu a {
    flex: 1 1 25%;
  }
  #nav-bar .hamburger {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #nav-bar .nav-title {
    font-size: 1.5rem;
  }
  #nav-bar .nav-menu li {
    flex-basis: 100%;
  }
  #nav-bar .nav-menu a {
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 10px 5px;
  }

  #slide .mySlides .text {
    font-size: 1rem;
  }
}
